@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
nav .top {
  border-bottom: 1px solid #F3EDED;
}
nav .top .container .top_nav {
  padding: 1rem 0;
}
nav .top .container .top_nav .logo {
  width: 5.75rem;
}
nav .top .container .top_nav .contact-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}
nav .top .container .top_nav .contact-us .contact {
  display: flex;
  gap: 1rem;
}
nav .top .container .top_nav .contact-us .contact .image {
  width: 1.438rem;
}
nav .top .container .top_nav .mobile_nav_bar {
  display: none;
}
nav .bottom {
  padding: 1.5rem 0;
}
nav .bottom .container .nav_bar {
  display: flex;
  justify-content: space-between;
}
nav .bottom .container .nav_bar a {
  font-size: 1.125rem;
  color: #8A8888;
  font-weight: 400;
  line-height: 95.46%;
}
nav .bottom .container .nav_bar a.active {
  color: #86BE3F;
}

@media screen and (max-width: 1024px) {
  nav .top .container .top_nav .contact-us {
    display: none;
  }
  nav .top .container .top_nav .mobile_nav_bar {
    display: block;
  }
  nav .top .container .top_nav .mobile_nav_bar .hamburg {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    z-index: 999;
  }
  nav .top .container .top_nav .mobile_nav_bar .hamburg span {
    display: block;
    height: 0.3rem;
    width: 2.2rem;
    background-color: #86BE3F;
    padding: 0rem 1rem;
    margin: 0.4rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 3rem 0;
    margin-top: 6rem;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 99;
    background-color: #86BE3F;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu a {
    color: #ffffff;
    font-size: 1.3rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu .contact {
    display: flex;
    gap: 1rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu .contact .image {
    width: 1.438rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu .btn {
    background: #ffffff;
    color: #86BE3F;
  }
  nav .bottom {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
header {
  background-image: url(/images/topimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .container .header_content {
  padding: 17.25rem 0;
  text-align: center;
}
header .container .header_content h1 {
  font-size: 4rem;
  color: #ffffff;
}
header .container .header_content p {
  opacity: 0.9;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem 5rem;
}

@media screen and (max-width: 600px) {
  header .container .header_content h1 {
    font-size: 2rem;
  }
  header .container .header_content p {
    padding: 2rem 0;
    font-size: 1rem;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#team .container .team_heading {
  margin-bottom: 12rem;
}
#team .container .team_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 6rem;
  height: 0.3rem;
  text-align: center;
  background: #86BE3F;
}
#team .container .team_heading p {
  font-size: 1.063rem;
  padding: 1.625rem 0;
  position: relative;
}
#team .container .team_heading p::before {
  content: url(/images/douted_block.png);
  position: absolute;
  left: -6rem;
  top: -2.5rem;
}
#team .container .row .team_member_details {
  margin-top: -5.4rem;
}
#team .container .row .team_member_details .team_member {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #F8F8F8;
  padding: 7rem 2rem 2rem;
  position: relative;
}
#team .container .row .team_member_details .team_member .team_img {
  width: 11.375rem;
  margin: 0 auto;
  position: absolute;
  top: -6rem;
  z-index: 2;
}
#team .container .row .team_member_details .team_member .team_info {
  text-align: center;
}
#team .container .row .team_member_details .team_member .team_info p {
  padding-top: 1rem;
}
#team .container .qoutes h3 {
  text-align: center;
  color: #363636;
  font-size: 1.313rem;
  font-style: italic;
  font-weight: 500;
  padding: 3rem 9rem 1.5rem;
  line-height: 30px;
  position: relative;
}
#team .container .qoutes h3::before {
  content: url(/images/comma-left.svg);
  position: absolute;
  left: 6rem;
}
#team .container .qoutes h3::after {
  content: url(/images/comma-right.svg);
  position: absolute;
  right: 6rem;
  top: 3rem;
}
#team .container .qoutes .author_name {
  color: #86BE3F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  gap: 0.5rem;
}
#team .container .qoutes .author_name::before {
  content: "";
  display: block;
  width: 0.875rem;
  height: 1px;
  background: #86BE3F;
}
#team .container .qoutes .author_name::after {
  content: "";
  display: block;
  width: 0.875rem;
  height: 1px;
  background: #86BE3F;
}

@media screen and (max-width: 992px) {
  #team .container .row .team_member_details .team_member {
    padding: 15rem 2rem 2rem;
  }
  #team .container .row .team_member_details .team_member .team_img {
    top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  #team .container .team_heading {
    margin-bottom: 6rem;
  }
  #team .container .row .team_member_details .team_member {
    padding: 15rem 2rem 2rem;
  }
  #team .container .row .team_member_details .team_member .team_img {
    top: 2rem;
  }
  #team .container .qoutes h3 {
    padding: 3rem 3rem 1.5rem;
  }
  #team .container .qoutes h3::after {
    right: 2rem;
  }
  #team .container .qoutes h3::before {
    left: 2rem;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#energy .container .energy_img {
  position: relative;
}
#energy .container .energy_img .img_top {
  position: absolute;
  left: -3rem;
}
#energy .container .energy_img .img_top::before {
  content: url(/images/douted_block.png);
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: -3;
}
#energy .container .energy_img .img_center {
  position: absolute;
  z-index: -6;
  top: 1rem;
}
#energy .container .energy_img .img_bottom {
  position: absolute;
  top: 16rem;
  left: 8rem;
}
#energy .container .energy_img .img_bottom::after {
  content: url(/images/douted_block.png);
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  z-index: -3;
}
#energy .container .energy_text {
  position: relative;
  left: -3rem;
  top: 10rem;
}
#energy .container .energy_text::before {
  content: url(/images/douted_block.png);
  position: absolute;
  top: -6.7rem;
  right: 7rem;
  z-index: -3;
}
#energy .container .energy_text small {
  color: #86BE3F;
  font-size: 1.875rem;
  text-transform: uppercase;
}
#energy .container .energy_text small::before {
  content: url(/images/circle_pattren.png);
  position: absolute;
  top: -2rem;
  right: -0.2rem;
  z-index: -3;
}
#energy .container .energy_text h3 {
  font-size: 1.7rem;
  color: #363636;
  font-weight: 600;
  line-height: 45px;
}
#energy .container .energy_text h3::after {
  content: " ";
  display: block;
  margin-top: 1rem;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#energy .container .energy_text p {
  text-align: left;
  color: #666666;
  font-size: 1.063rem;
  padding-top: 2rem;
}

@media screen and (max-width: 1024px) {
  #energy .container .energy_img {
    position: static;
  }
  #energy .container .energy_img .img_top {
    position: static;
  }
  #energy .container .energy_img .img_top::before {
    display: none;
    position: static;
  }
  #energy .container .energy_img .img_center {
    position: static;
    display: none;
  }
  #energy .container .energy_img .img_bottom {
    position: static;
  }
  #energy .container .energy_img .img_bottom::after {
    content: url(/images/douted_block.png);
    position: static;
    display: none;
  }
  #energy .container .energy_text {
    position: static;
  }
  #energy .container .energy_text::before {
    display: none;
    position: static;
  }
  #energy .container .energy_text small::before {
    display: none;
    position: static;
  }
}
@media screen and (max-width: 600px) {
  #energy .container .energy_text {
    text-align: center;
  }
  #energy .container .energy_text h3::after {
    margin: 1rem auto;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#intelligent {
  margin-top: 22rem;
  background-image: url(/images/pattern-8\ 2.png);
  padding: 5rem 0;
}
#intelligent .intelligent_heading {
  padding-bottom: 2rem;
}
#intelligent .intelligent_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#intelligent .intelligent_info {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}
#intelligent .intelligent_info .icon .image {
  border: 3px solid #86BE3F;
  border-radius: 50rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.4rem 0.5rem 0.5rem;
}
#intelligent .intelligent_info .intelligent_text h3 {
  color: #1E1E1E;
  font-size: 1.25rem;
  line-height: 84.02%;
}
#intelligent .intelligent_info .intelligent_text p {
  text-align: left;
  padding-top: 1rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#electric {
  padding: 3rem 0;
}
#electric .electric_heading {
  padding: 2rem 0;
}
#electric .electric_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#electric .electric_card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
  padding: 2.938rem 1rem 1.5rem;
}
#electric .electric_card .electric_img {
  width: 5rem;
  margin: 1rem auto;
}
#electric .electric_card .electric_text {
  text-align: center;
}
#electric .electric_card .electric_text h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #363636;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#bonus {
  background: #F9F9F9;
  padding: 2rem 0;
}
#bonus .bouns_block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #ffffff;
  padding: 1rem 0;
}
#bonus .bouns_block .bonus_img {
  width: 2rem;
  margin: 0 auto;
}
#bonus .bouns_block h3 {
  padding: 0.5rem 0;
}
#bonus .bouns_block p {
  padding: 0 3rem;
}
#bonus .bouns_block p.bouns_p {
  padding-top: 1rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#SIRE .SIRE_heading {
  padding: 2.313rem 0;
}
#SIRE .SIRE_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#SIRE .SIRE_block {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
#SIRE .SIRE_block .SIRE_text {
  padding: 1rem;
}
#SIRE .SIRE_block .SIRE_text .arrow_list li {
  display: flex;
}
#SIRE .SIRE_block .SIRE_text .arrow_list li::before {
  content: url(/images/arrow.svg);
  list-style-position: outside;
}
#SIRE .SIRE_block .SIRE_text ul h4 {
  font-size: 1.5rem;
  color: #86BE3F;
  font-weight: 600;
  padding: 1rem 0;
}
#SIRE .SIRE_block .SIRE_text ul li {
  line-height: 2;
}
#SIRE .SIRE_block .SIRE_text ul li::before {
  content: "•";
  font-size: 1rem;
  color: #86BE3F;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 1rem;
  list-style-position: outside;
}
#SIRE .SIRE_block .SIRE_text .SIRE_info {
  color: #363636;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}
#SIRE .SIRE_block .SIRE_text .SIRE_info .SIRE_per {
  gap: 3rem;
}
#SIRE .SIRE_block .SIRE_text .SIRE_info .SIRE_per .SIRE_icon {
  padding: 1rem 0;
}
#SIRE .SIRE_block .SIRE_text .SIRE_info .SIRE_per .SIRE_icon .icon {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background: #F5F5F5;
  border-radius: 5rem;
}
#SIRE .SIRE_block .SIRE_text .SIRE_info .SIRE_per .SIRE_icon p {
  padding-top: 0.5rem;
}
#SIRE .SIRE_block .SIRE_text .SIRE_info .technic h3 {
  font-size: 1rem;
  color: #363636;
  padding: 1rem 0;
}

@media screen and (max-width: 600px) {
  #SIRE .SIRE_block {
    margin: 1rem 0;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#sole {
  background-image: url(/images/Frame\ \(1\).png);
  padding: 3rem 0;
}
#sole .sole_heading h2 {
  padding: 2.313rem 0;
}
#sole .sole_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#sole .bg_img {
  border: 2px dashed #86BE3F;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sole .bg_img .sole_block {
  background: #ffffff;
  padding: 1rem;
}
#sole .bg_img .sole_block .sole_icon {
  width: 2rem;
  margin: 0 auto;
}
#sole .bg_img .sole_block .sole_text {
  padding: 1rem 0;
  text-align: center;
}
#sole .bg_img .sole_block .sole_text h3 {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #363636;
}
#sole .bg_img .sole_block .sole_text p {
  font-size: 0.875rem;
}
#sole .sol_btn {
  text-align: center;
  padding: 2rem 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#FAQ {
  padding: 3rem 0;
}
#FAQ .FAQ_heading {
  padding: 2rem 0;
  position: relative;
}
#FAQ .FAQ_heading::after {
  content: url(/images/douted_block.png);
  position: absolute;
  top: -2rem;
  right: 7rem;
  z-index: -5;
}
#FAQ .FAQ_heading::before {
  content: url(/images/Ellipse\ 2.svg);
  position: absolute;
  top: -1rem;
  right: 3rem;
  z-index: -5;
}
#FAQ .FAQ_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#FAQ .accordian .FAQs {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  margin: 1rem 0;
}
#FAQ .accordian .FAQs .question {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#FAQ .accordian .FAQs .question h3 {
  font-size: 1rem;
  color: #363636;
  font-weight: 500;
  padding: 1rem 0;
}
#FAQ .accordian .FAQs .question .icon::after {
  font-family: "Font Awesome 5 Free";
  content: "+";
  font-weight: 900;
  color: #212529;
}
#FAQ .accordian .FAQs .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-hight 1.4s ease;
}
#FAQ .accordian .FAQs .answer p {
  color: #54595F;
  font-size: 0.875rem;
  text-align: left;
}
#FAQ .accordian .FAQs.active .answer {
  max-height: 300px;
}
#FAQ .faq_btn {
  text-align: center;
  padding: 2rem 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#contacts {
  padding-bottom: 3rem;
}
#contacts .contact_heading {
  padding-bottom: 2rem;
  position: relative;
}
#contacts .contact_heading::after {
  content: url(/images/douted_block.png);
  position: absolute;
  top: -7rem;
  left: 7rem;
  z-index: -5;
}
#contacts .contact_heading::before {
  content: url(/images/Ellipse\ 2.svg);
  position: absolute;
  top: -5rem;
  left: 3rem;
  z-index: -5;
}
#contacts .contact_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#contacts .contact_details {
  border: 1px solid #DEDEDE;
  border-radius: 0.563rem;
  padding: 1.5rem;
}
#contacts .contact_details .contact_info {
  border-bottom: 1px solid #DEDEDE;
}
#contacts .contact_details .contact_info p {
  text-align: left;
  color: #666666;
}
#contacts .contact_details .contact_info .location {
  display: flex;
  gap: 1rem;
}
#contacts .contact_details .contact_info .location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #86BE3F;
  font-size: 1.5rem;
}
#contacts .contact_details .contact_info .message {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
#contacts .contact_details .contact_info .message::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #86BE3F;
  font-size: 1.5rem;
}
#contacts .contact_details .contact_info .call {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.3rem;
}
#contacts .contact_details .contact_info .call::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #86BE3F;
  font-size: 1.5rem;
}
#contacts .contact_details .respons {
  padding-top: 2rem;
}
#contacts .contact_details .respons p {
  text-align: left;
}
#contacts form {
  border: 1px solid #DEDEDE;
  border-radius: 0.563rem;
  padding: 1.75rem;
}
#contacts form input, #contacts form textarea {
  padding: 1.063rem;
  border: 1px solid #DEDEDE;
  border-radius: 0.313rem;
  margin: 0.4385rem 0;
  width: 100%;
}
#contacts form .name {
  display: flex;
  gap: 1rem;
}
#contacts form textarea {
  display: block;
  width: 100%;
  resize: none;
  padding-bottom: 4rem;
}
#contacts form .form_btn {
  text-align: right;
  padding-top: 1rem;
}
#contacts form .form_btn .btn {
  padding: 0.875rem 2.313rem;
}

@media screen and (max-width: 600px) {
  #contacts .contact_details {
    margin: 2rem 0;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#subscribe {
  background-image: url(/images/subscrib_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: bottom;
  padding: 2.188rem 0;
}
#subscribe .subscribe_text h3 {
  color: #ffffff;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
#subscribe .subscribe_text p {
  color: #ffffff;
  text-align: left;
}
#subscribe .subscribe_input {
  text-align: right;
  position: relative;
  padding: 1rem 0;
}
#subscribe .subscribe_input input {
  background: #ffffff;
  border-radius: 2rem;
  padding: 1.063rem;
  width: 70%;
}
#subscribe .subscribe_input input::placeholder {
  color: #979797;
  font-size: 1.063rem;
}
#subscribe .subscribe_input button {
  border-radius: 6rem;
  background-color: #86BE3F;
  width: 2.5rem;
  padding: 0.75rem;
  position: absolute;
  top: 1.2rem;
  right: 0.5rem;
}

@media screen and (max-width: 600px) {
  #subscribe .subscribe_input input {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #86BE3F #F8F8F8;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #F8F8F8;
}
html::-webkit-scrollbar-thumb {
  background-color: #86BE3F;
}
html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#footer {
  background-image: url(/images/background_dollarimg.png);
  background-color: #4D4D4D;
  padding: 3rem 0 1rem;
  color: #ffffff;
}
#footer .footer_logo {
  width: 6.063rem;
}
#footer .footer_text {
  padding: 1.625rem 0;
}
#footer .footer_links {
  padding-top: 2rem;
}
#footer .footer_links p {
  font-weight: 600;
}
#footer .footer_links .links, #footer .footer_links .useful_links, #footer .footer_links .other_links {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.563rem;
}
#footer .footer_links .links a, #footer .footer_links .useful_links a, #footer .footer_links .other_links a {
  color: #ffffff;
  padding-top: 0.8rem;
}
#footer .footer_links .other_links a {
  font-weight: 600;
}
#footer .footer_links .other_links small {
  padding-top: 2rem;
  display: block;
}
#footer .footer_links .other_links small a {
  text-decoration: underline;
  font-weight: 400;
}
#footer .footer_links .contact_info {
  padding-top: 0.8rem;
}
#footer .footer_links .contact_info p {
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}
#footer .footer_links .contact_info .location {
  display: flex;
  gap: 1rem;
}
#footer .footer_links .contact_info .location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer .footer_links .contact_info .message {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
#footer .footer_links .contact_info .message::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer .footer_links .contact_info .call {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.3rem;
}
#footer .footer_links .contact_info .call::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer .footer_bottom {
  border-top: 1px solid #ffffff;
  margin-top: 3.813rem;
  padding-top: 2rem;
}
#footer .footer_bottom p {
  font-size: 0.875rem;
}
#footer .footer_bottom .social_links {
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}
#footer .footer_bottom .social_links .facebook {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.2rem 0.7rem;
}
#footer .footer_bottom .social_links .facebook a::before {
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  color: #363636;
  font-size: 1.5rem;
}
#footer .footer_bottom .social_links .instagram {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.2rem 0.7rem;
}
#footer .footer_bottom .social_links .instagram a::before {
  content: "\f16d";
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  color: #363636;
  font-size: 1.5rem;
}
#footer .footer_bottom .social_links .twitter {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.2rem 0.7rem;
}
#footer .footer_bottom .social_links .twitter a::before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  color: #363636;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  #footer {
    text-align: center;
  }
  #footer .footer_logo {
    margin: 0 auto;
  }
  #footer .footer_links {
    text-align: center;
  }
  #footer .footer_bottom {
    text-align: center;
  }
  #footer .footer_bottom p {
    text-align: center;
    padding-bottom: 2rem;
  }
  #footer .footer_bottom .social_links {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */