@import "../partials/config.scss";
@import "../partials/general.scss";
@import "../partials/maxin.scss";

#contacts{
    padding-bottom: 3rem;
    .contact_heading{
        padding-bottom: 2rem;
        position: relative;
        &::after{
            content: url(/images/douted_block.png);
            position: absolute;
            top: -7rem;
            left: 7rem;
            z-index: -5;

        }
        &::before{
            content: url(/images/Ellipse\ 2.svg);
            position: absolute;
            top: -5rem;
            left: 3rem;
            z-index: -5;
        }
        h2{
            &::after{
                content: " ";
                display: block;
                margin: 1rem auto;
                width: 7rem;
                height: 0.3rem;
                border-radius: 2rem;
                text-align: center;
                background: #86BE3F;
            }
        }
    }
    .contact_details{
        border: 1px solid $border-color;
        border-radius: 0.563rem;
        padding: 1.5rem;
        .contact_info{
            border-bottom: 1px solid $border-color;
            p{
                text-align: left;
                color: $text-color;
            }
            .location{
                display: flex;
                gap: 1rem;
            
                &::before{
                    content: "\f3c5";
                    
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: $success-color;
                        font-size: 1.5rem;
                        
                }
            }
            .message{
                display: flex;
                gap: 1rem;
                padding: 2rem 0;
                &::before{
                    content: "\f0e0";
                    // font-family: "Font Awesome 5 Brands";
                        // font-weight: 500;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: $success-color;
                        font-size: 1.5rem;
                        
                }
            }
            .call{
                display: flex;
                gap: 1rem;
                padding-bottom: 1.3rem;
               
                &::before{
                    content: "\f095";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: $success-color;
                        font-size: 1.5rem;
                        
                }
            }
        }
        .respons{
            padding-top: 2rem;
           p{
            text-align: left;
           }
            
        }
    }
    form{
        border: 1px solid $border-color;
        border-radius: 0.563rem;
        padding: 1.75rem;
        input,textarea{
            padding: 1.063rem;
            border: 1px solid $border-color;
            border-radius: 0.313rem;
            margin: 0.4385rem 0;
            width: 100%;
        }
        .name{
          display: flex;
        //   justify-content: space-between;
          gap: 1rem;
        }
        
        textarea{
            display: block;
            width: 100%;
            resize: none;
            padding-bottom: 4rem;
        }
        .form_btn{
            text-align: right;
            padding-top: 1rem;
            .btn{
                padding: 0.875rem 2.313rem;
            }
        }

    }
}



// ================== Media Queries (Mediam Devices)==================
@media screen and (max-width: 600px){
    #contacts{
        .contact_details {
            margin: 2rem 0;
        }
    }
}