@import "../partials/_config.scss";
@import "../partials/_general.scss";
@import "../partials/_maxin.scss";


nav{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4;
    background: $white-color;
    .top{
        border-bottom: 1px solid $top_border;
        
        .container{
            .top_nav{
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                padding: 1rem 0;
                .logo{
                    width: 5.75rem;
                }
                
                .contact-us{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 2.5rem;
                    .contact{
                        display: flex;
                        gap: 1rem;
                       .image{
                        width: 1.438rem;
                       }
                    }
                    
                }
                .mobile_nav_bar{
                    display: none;
                }
            }
            
        }
    }
    .bottom{
        padding: 1.5rem 0;
        .container{
            .nav_bar{
                display: flex;
                justify-content: space-between;
                a{
                    font-size: 1.125rem;
                    color: $secondary-color;
                    font-weight: 400;
                    line-height: 95.46%;
                    &:hover{
                        color: $success-color;
                    }
                    
                }
                a.active{
                    color: $success-color;
                }
            }
        }
    }
    
}


// ================== Media Queries (Mediam Devices)==================
@media screen and (max-width: 1024px){
   nav{
    .top{
        .container{
            .top_nav{
                .contact-us{
                    display: none;
                }
                .mobile_nav_bar{
                    display: block;
                    .hamburg{
                        width: 100%;
                        padding: 1rem 0;
                        position: relative;
                        z-index: 999;
                    span{
                        display: block;
                        height: 0.3rem;
                        width: 2.2rem;
                        background-color: $success-color;
                        padding: 0rem 1rem;
                        margin: 0.4rem;
                    }
                    
                }
                .mobile{
                       
                    .mobile_menu{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        gap: 1rem;
                        padding: 3rem 0;
                        margin-top: 6rem;
                        position: absolute;
                        top: 0rem;
                        left: 0;
                        z-index: 99;
                        background-color: $success-color;
                        a{
                            color: $white-color;
                            font-size: 1.3rem;

                        }
                        .contact{
                            display: flex;
                            gap: 1rem;
                           .image{
                            width: 1.438rem;
                           }
                        }
                        .btn{
                            background: $white-color;
                            color: $success-color;
                        }

                    }
                    
                }
            }
        }
    }
   
   }
   .bottom{
    display: none;
}
}
}

// ================== Media Queries (small Devices)==================
// @media screen and (max-width: 600px){
    
    
// }