* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#contacts {
  padding-bottom: 3rem;
}
#contacts .contact_heading {
  padding-bottom: 2rem;
  position: relative;
}
#contacts .contact_heading::after {
  content: url(/images/douted_block.png);
  position: absolute;
  top: -7rem;
  left: 7rem;
  z-index: -5;
}
#contacts .contact_heading::before {
  content: url(/images/Ellipse\ 2.svg);
  position: absolute;
  top: -5rem;
  left: 3rem;
  z-index: -5;
}
#contacts .contact_heading h2::after {
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 7rem;
  height: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  background: #86BE3F;
}
#contacts .contact_details {
  border: 1px solid #DEDEDE;
  border-radius: 0.563rem;
  padding: 1.5rem;
}
#contacts .contact_details .contact_info {
  border-bottom: 1px solid #DEDEDE;
}
#contacts .contact_details .contact_info p {
  text-align: left;
  color: #666666;
}
#contacts .contact_details .contact_info .location {
  display: flex;
  gap: 1rem;
}
#contacts .contact_details .contact_info .location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #86BE3F;
  font-size: 1.5rem;
}
#contacts .contact_details .contact_info .message {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
#contacts .contact_details .contact_info .message::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #86BE3F;
  font-size: 1.5rem;
}
#contacts .contact_details .contact_info .call {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.3rem;
}
#contacts .contact_details .contact_info .call::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #86BE3F;
  font-size: 1.5rem;
}
#contacts .contact_details .respons {
  padding-top: 2rem;
}
#contacts .contact_details .respons p {
  text-align: left;
}
#contacts form {
  border: 1px solid #DEDEDE;
  border-radius: 0.563rem;
  padding: 1.75rem;
}
#contacts form input, #contacts form textarea {
  padding: 1.063rem;
  border: 1px solid #DEDEDE;
  border-radius: 0.313rem;
  margin: 0.4385rem 0;
  width: 100%;
}
#contacts form .name {
  display: flex;
  gap: 1rem;
}
#contacts form textarea {
  display: block;
  width: 100%;
  resize: none;
  padding-bottom: 4rem;
}
#contacts form .form_btn {
  text-align: right;
  padding-top: 1rem;
}
#contacts form .form_btn .btn {
  padding: 0.875rem 2.313rem;
}

@media screen and (max-width: 600px) {
  #contacts .contact_details {
    margin: 2rem 0;
  }
}/*# sourceMappingURL=contact.css.map */