* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 0.5rem;
  }
}
#footer {
  background-image: url(/images/background_dollarimg.png);
  background-color: #4D4D4D;
  padding: 3rem 0 1rem;
  color: #ffffff;
}
#footer .footer_logo {
  width: 6.063rem;
}
#footer .footer_text {
  padding: 1.625rem 0;
}
#footer .footer_links {
  padding-top: 2rem;
}
#footer .footer_links p {
  font-weight: 600;
}
#footer .footer_links .links, #footer .footer_links .useful_links, #footer .footer_links .other_links {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.563rem;
}
#footer .footer_links .links a, #footer .footer_links .useful_links a, #footer .footer_links .other_links a {
  color: #ffffff;
  padding-top: 0.8rem;
}
#footer .footer_links .other_links a {
  font-weight: 600;
}
#footer .footer_links .other_links small {
  padding-top: 2rem;
  display: block;
}
#footer .footer_links .other_links small a {
  text-decoration: underline;
  font-weight: 400;
}
#footer .footer_links .contact_info {
  padding-top: 0.8rem;
}
#footer .footer_links .contact_info p {
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}
#footer .footer_links .contact_info .location {
  display: flex;
  gap: 1rem;
}
#footer .footer_links .contact_info .location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer .footer_links .contact_info .message {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
#footer .footer_links .contact_info .message::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer .footer_links .contact_info .call {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.3rem;
}
#footer .footer_links .contact_info .call::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer .footer_bottom {
  border-top: 1px solid #ffffff;
  margin-top: 3.813rem;
  padding-top: 2rem;
}
#footer .footer_bottom p {
  font-size: 0.875rem;
}
#footer .footer_bottom .social_links {
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}
#footer .footer_bottom .social_links .facebook {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.2rem 0.7rem;
}
#footer .footer_bottom .social_links .facebook a::before {
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  color: #363636;
  font-size: 1.5rem;
}
#footer .footer_bottom .social_links .instagram {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.2rem 0.7rem;
}
#footer .footer_bottom .social_links .instagram a::before {
  content: "\f16d";
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  color: #363636;
  font-size: 1.5rem;
}
#footer .footer_bottom .social_links .twitter {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 0.2rem 0.7rem;
}
#footer .footer_bottom .social_links .twitter a::before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  color: #363636;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  #footer {
    text-align: center;
  }
  #footer .footer_logo {
    margin: 0 auto;
  }
  #footer .footer_links {
    text-align: center;
  }
  #footer .footer_bottom {
    text-align: center;
  }
  #footer .footer_bottom p {
    text-align: center;
    padding-bottom: 2rem;
  }
  #footer .footer_bottom .social_links {
    justify-content: center;
  }
}/*# sourceMappingURL=footer.css.map */