* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  user-select: none;
  background: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 84.02%;
}

section {
  margin-top: 3rem;
}
section h2 {
  text-align: center;
  font-size: 1.625rem;
  color: #363636;
  font-weight: 600;
  line-height: 30.25px;
  text-transform: uppercase;
}
section p {
  text-align: center;
  font-size: 1rem;
  color: #363636;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 78.52%;
  padding: 0.875rem 1.313rem;
  border-radius: 0.375rem;
  background: #86BE3F;
  color: #ffffff;
  cursor: pointer;
  transition: all 400ms ease;
}

nav .top {
  border-bottom: 1px solid #F3EDED;
}
nav .top .container .top_nav {
  padding: 1rem 0;
}
nav .top .container .top_nav .logo {
  width: 5.75rem;
}
nav .top .container .top_nav .contact-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}
nav .top .container .top_nav .contact-us .contact {
  display: flex;
  gap: 1rem;
}
nav .top .container .top_nav .contact-us .contact .image {
  width: 1.438rem;
}
nav .top .container .top_nav .mobile_nav_bar {
  display: none;
}
nav .bottom {
  padding: 1.5rem 0;
}
nav .bottom .container .nav_bar {
  display: flex;
  justify-content: space-between;
}
nav .bottom .container .nav_bar a {
  font-size: 1.125rem;
  color: #8A8888;
  font-weight: 400;
  line-height: 95.46%;
}
nav .bottom .container .nav_bar a.active {
  color: #86BE3F;
}

@media screen and (max-width: 1024px) {
  nav .top .container .top_nav .contact-us {
    display: none;
  }
  nav .top .container .top_nav .mobile_nav_bar {
    display: block;
  }
  nav .top .container .top_nav .mobile_nav_bar .hamburg {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    z-index: 999;
  }
  nav .top .container .top_nav .mobile_nav_bar .hamburg span {
    display: block;
    height: 0.3rem;
    width: 2.2rem;
    background-color: #86BE3F;
    padding: 0rem 1rem;
    margin: 0.4rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 3rem 0;
    margin-top: 6rem;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 99;
    background-color: #86BE3F;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu a {
    color: #ffffff;
    font-size: 1.3rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu .contact {
    display: flex;
    gap: 1rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu .contact .image {
    width: 1.438rem;
  }
  nav .top .container .top_nav .mobile_nav_bar .mobile .mobile_menu .btn {
    background: #ffffff;
    color: #86BE3F;
  }
  nav .bottom {
    display: none;
  }
}/*# sourceMappingURL=nav.css.map */